{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


    

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is your institution reference number?</h1>
    </legend>
    <div class="govuk-inset-text">
  Enter your Department of Education institution reference number.
</div>
    
  



<div class="govuk-form-group">
  <label class="govuk-label" for="one-half">
    For example, 542-0059
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text">
</div>

 </fieldset>
</div>
  
</div>
</div>
 
   <a href="lrs" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div>

</div>
        </div>
  </div>
</div>

    
</div>



    

{% endblock %}