{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<a href="#" class="govuk-back-link">Back</a>
 
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
 

 

  
        <h1 class="govuk-heading-xl">UK register of learning providers<br>
        

        <p class="govuk-body">.</p>

        <nav role="navigation">

    
      <p class="browse-list-item">
        <a class="browse-list-item-link" href="one">Register as a learning provider</a>
        
        
      </p>
    
      
    
      <p class="browse-list-item">
        <a class="browse-list-item-link" href="choose">Search for a learning provider</a>

        
        
      </p>
    

</nav>


        

       
      
        

        
      </div>

      
    </div>
  </main>


{% endblock %}