{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
 <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="#" class="govuk-back-link">Back</a>
  

{% endblock %}

{% block content %}


        

 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
 Why do you need access to the Learner Records Sevice?
</h1>


  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="radio-1" name="where-do-you-live" type="radio" value="add-staff">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          To find or create Unique Learner Numbers 
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="radio-1" name="where-do-you-live" type="radio" value="add-staff">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          To veiw someone's Personal Learning Record or qualifcation results
        </label>
      </div><br>

      <h2 class="govuk-heading-m">Or</h2>
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="radio-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
         None of these reasons 
        </label>
      </div>

      

      <!--<div class="govuk-inset-text">
  You can add their names and email address or upload a file with the information
</div>-->

    </div>


  </fieldset>
</div>

</fieldset><br><br>



          <a  class="govuk-button show-continue" id="choice-button" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}