{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


    

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Confirm your details
      </h1>
    </legend>
    
    
   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Weir Training Ltd
      </h1>
  
    
<p class="govuk-body">
UKPRN: 87651234<br>Alpha 319 <br>Chobham Business Centre <br>Chertsey Road<br>Chobham<br>Surrey<br>GU24 8JB</p>

    </legend>



    </legend><br>

    
    


    
<p class="govuk-body">Change any incorrect information on <a href="https://www.ukrlp.co.uk"target="_blank">www.ukrlp.co.uk</a></p>
      
    
  </fieldset>
</div>




</div>
</div>
 
   <a href="type" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div><br>





    

{% endblock %}